<nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color:lightblue;"
>
    <a
        class="navbar-brand"
        href="#"
    >
        Learn & Trade
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div
        class="collapse navbar-collapse"
        id="navbarText"
    >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a
                    class="nav-link"
                    href="#"
                >
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <div *ngIf="autenticado">
            <button class="btn btn-outline-primary" (click)="goToChat()">
              <mat-icon *ngIf="newMessages" style="vertical-align: middle; color: green">mark_chat_unread</mat-icon>
              <mat-icon *ngIf="!newMessages" style="vertical-align: middle;">chat</mat-icon>
              Chat
            </button>
            <button class="btn btn-outline-primary" (click)="goToSearch()">
              <mat-icon style="vertical-align: middle;">search</mat-icon>
                Buscar usuarios
            </button>
            <button class="btn btn-outline-primary" (click)="goToCalendar()">
              <mat-icon style="vertical-align: middle;">calendar_today</mat-icon>
                Calendario
            </button>
            <button (click)="goToPerfil()" id="goToProfileBtn" class="btn btn-outline-primary">
                <mat-icon style="vertical-align: middle;">account_circle</mat-icon>
                Mi perfil
            </button>
            <button
                id="closeSessionBtn"
                class="btn btn-outline-danger"
                (click)="cerrarsesion()"
            >
                <mat-icon style="vertical-align: middle;">login</mat-icon>
                Cerrar sesión
            </button>
        </div>
        <div *ngIf="!autenticado">
            <button
                class="btn btn-outline-primary"
                routerLink="/login"
            >
                <mat-icon style="vertical-align: middle;">account_circle</mat-icon>
                Login
            </button>
        </div>
    </div>
</nav>
