<div class="row" style="text-align: center;">
  <div class="col-3" style="margin-top: 3%; padding-left: 5%">
    <div class="row">
      <h1 id="current-month">{{ monthName }} del {{ year }}</h1> 
      <h4>Tus reservas: <span class="blocked-hour"> HORA LECCIÓN</span> </h4>
      <h4>Marcar impartida: <span class="pending-finishing"> HORA</span> </h4>
      <h4>Valoración pendiente: <span class="pending-rating"> HORA</span> </h4>
      <h4>Terminada: <span class="finished"> HORA</span> </h4>
      <h4 *ngIf="complementaryUserAvailable">Reservas de {{complementaryUser.name}}:
        <span class="complementary-blocked-hour"> HORA </span> </h4>
    </div>
    <div class="row">
      
      <div class="col" (click)="backMonth()">
        <mat-icon class="icon" [inline]="true" style="vertical-align: middle;">arrow_back</mat-icon>
        <span class="tag-icon">Mes anterior</span>
      </div>

      <div class="col" (click)="forwardMonth()">
        <mat-icon class="icon" [inline]="true" style="vertical-align: middle;">arrow_forward</mat-icon>
        <span class="tag-icon">Mes siguiente</span>
      </div>
    </div>
    
    <div id="quick-form" class="row">
      <div class="col-sm-6">
        <mat-form-field class="month-selector" appearance="fill">
          <mat-label>Mes:</mat-label>
          <mat-select [(value)]="month">
            <mat-option value="1">
              Enero
            </mat-option>
            <mat-option value="2">
              Febrero
            </mat-option>
            <mat-option value="3">
              Marzo
            </mat-option>
            <mat-option value="4">
              Abril
            </mat-option>
            <mat-option value="5">
              Mayo
            </mat-option>
            <mat-option value="6">
              Junio
            </mat-option>
            <mat-option value="7">
              Julio
            </mat-option>
            <mat-option value="8">
              Agosto
            </mat-option>
            <mat-option value="9">
              Septiembre
            </mat-option>
            <mat-option value="10">
              Octubre
            </mat-option>
            <mat-option value="11">
              Noviembre
            </mat-option>
            <mat-option value="12">
              Diciembre
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-5">
        <mat-form-field class="year-selector" appearance="fill">
          <mat-label>Año:</mat-label>
          <mat-select [(value)]="year">
            <mat-option value="2020">
              2020
            </mat-option>
            <mat-option value="2021">
              2021
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <button mat-raised-button class="load-button" (click)="getDaysInMonth()">
        CARGAR
      </button>

    </div>
  </div>

  
  <div class="col-9">
    <div class="row" *ngFor="let nFila of numberReturnSemanas(); index as indexRow;">
      <div class="col" *ngFor="let nCol of numberReturn(7); index as index;"
           style="margin: auto; display: inherit">
        <div *ngIf="daysOfMonth.length + numberOfDayOnAWeek > ((indexRow * 7) + index) &&
         (indexRow == 0 && index >= numberOfDayOnAWeek || indexRow != 0)">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">
                {{getDayOfWeek(daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek].getDay())}}
              </th>
            </tr>
            <tr>
              <th bgcolor="#d4d9ff" scope="col">
                {{daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek].getDate()}}/{{daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek].getMonth() + 1}}/{{daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek].getFullYear()}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nHour of numberReturn(12); index as hour;">
              <div class="row">

                <div [ngSwitch]="isReserved(hour * 2, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])" class="col-6">
                  
                  <span *ngSwitchCase="1" (click)="openModalReservation(hour * 2, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])"
                        class="blocked-hour">
                  {{hour * 2}}:00
                  </span>

                  <span *ngSwitchCase="2" class="complementary-blocked-hour">
                    {{hour * 2}}:00
                  </span>
                  
                  <span *ngSwitchCase="3" (click)="openConfirmImpartedModal(hour * 2, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])"
                        class="pending-finishing">
                    <!-- Click open Finish Modal -->
                    {{hour * 2}}:00
                  </span>

                  <span *ngSwitchCase="4" (click)="openRatingModal(hour * 2, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])" 
                        class="pending-rating">
                    {{hour * 2}}:00
                  </span>

                  <span *ngSwitchCase="5" class="finished">
                    {{hour * 2}}:00
                  </span>
                  
                  <span *ngSwitchDefault>
                    {{hour * 2}}:00
                  </span>
                
                </div>

                <div [ngSwitch]="isReserved(hour * 2 + 1, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])" class="col-6">
                  
                  <span *ngSwitchCase="1" (click)="openModalReservation(hour * 2 + 1, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])"
                        class="blocked-hour">
                    {{hour * 2 + 1}}:00
                  </span>

                  <span *ngSwitchCase="2" class="complementary-blocked-hour">
                    {{hour * 2 + 1}}:00
                  </span>

                  <span *ngSwitchCase="3" (click)="openConfirmImpartedModal(hour * 2 + 1, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])"
                        class="pending-finishing">
                    {{hour * 2 + 1}}:00
                  </span>

                  <span *ngSwitchCase="4" (click)="openRatingModal(hour * 2 + 1, daysOfMonth[index + (indexRow * 7) - numberOfDayOnAWeek])" 
                        class="pending-rating">
                    {{hour * 2 + 1}}:00
                  </span>

                  <span *ngSwitchCase="5" class="finished">
                    <!-- Click open Rating Modal-->
                    {{hour * 2 + 1}}:00
                  </span>
                  
                  <span *ngSwitchDefault>
                    {{hour * 2 + 1}}:00
                  </span>
                
                </div>
              </div>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
