.icon {
  font-size: 80px;
  line-height: initial;
}

.tag-icon{
  margin-bottom: 20%;
}

.load-button{
  background-color: lightskyblue;
  margin: 0px 35% 30px;
}

.month-selector{
  width: 100%;
}

.year-selector{
  width: 100%;
}

.blocked-hour{
  border-radius: 50%;
  border: 1.5px solid #db271a;
  text-align: center;
  padding: 0px 10px;
}

.pending-finishing{
  border-radius: 50%;
  border: 1.5px solid #dbdb1a;
  text-align: center;
  padding: 0px 10px;
}

.pending-rating{
  border-radius: 50%;
  border: 1.5px solid #db8f1a;
  text-align: center;
  padding: 0px 10px;
}

.finished{
  border-radius: 50%;
  border: 1.5px solid rgb(18, 143, 202);
  text-align: center;
  padding: 0px 10px;
}

.complementary-blocked-hour{
  border-radius: 50%;
  border: 1.5px solid cornflowerblue;
  text-align: center;
  padding: 0px 10px;
}

#quick-form{
  margin-top: 25px;
}

#current-month{
  margin: 0px 10% 30px;
}