<!-- <div id="infoDcha">
    <h2>Matches con otros usuarios</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus


    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div>
<div id="infoIzq">
    <h2>Información propia de mi perfil</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus

    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div> -->

<div id="infoIzq">
    <mat-card style="width:100%;">
        <mat-card-title>Usuarios Complementarios</mat-card-title>
        <mat-card-content>
            <cdk-virtual-scroll-viewport
                itemSize="50"
                class="example-viewport"
            >
                <ul
                    class="list-group"
                    *cdkVirtualFor="let usuario of usuarios"
                >
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img
                            src="assets/img/perfil.jpg"
                            id="imagenTarjeta"
                        >
                        <div id="infoTarjeta">
                            <div id="tituloCard">
                                <b>
                                    <u>{{usuario.name}}</u>
                                </b>
                            </div>
                            Interés en:
                            <div
                                *ngFor="let interest of usuario.interests"
                                id="ContenidoCard"
                            >

                                <a
                                    href="#"
                                    class="alert-link"
                                >
                                    - {{interest.name}}
                                </a>
                            </div>
                            Conocimiento en:
                            <div
                                id="ContenidoCard"
                                *ngFor="let knowledge of usuario.knowledges"
                            >

                                <a
                                    href="#"
                                    class="alert-link"
                                >
                                    - {{knowledge.name}}
                                </a>
                            </div>
                        </div>
                        <mat-card-actions style="margin: 0px;">
                            <button
                                mat-raised-button
                                style="background-color: lightskyblue;"
                            >
                                CHAT
                            </button>
                        </mat-card-actions>
                    </li>

                </ul>
            </cdk-virtual-scroll-viewport>
        </mat-card-content>

    </mat-card>
</div>
<div id="infoDcha">
    <mat-card style="width:100%;">
        <mat-card-title id="test-pointer">Mi Perfil</mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="avatarPerfil">
                    <img
                        mat-card-md-image
                        src="assets/img/perfil.jpg"
                    >
                </div>
                <div class="columnPerfil">
                    <h2 style="margin: 0px;">
                        <b>{{miPerfil.name}} {{miPerfil.surname}}</b>
                    </h2>
                    <h3 style="margin: 0px;">Username: {{miPerfil.username}}</h3>
                    <h3 style="margin: 0px;">{{miPerfil.email}}</h3>
                </div>
            </div>
            <div class="row">
                <div
                    id="infoIzq"
                    style="text-align: center;"
                >
                    <h2>
                        <u>Mis intereses</u>
                    </h2>
                    <mat-list role="list">
                        <mat-list-item
                            *ngFor="let interest of miPerfil.interests"
                            style="margin-top: -15px; padding-left: 5%;
                            "
                        >
                            <mat-icon
                                mat-list-icon
                                class="red-icon"
                            >
                                favorite
                            </mat-icon>
                            {{interest.name}}
                            <button mat-icon-button color="primary" style="color: red;" (click)="deleteInterest(interest)">
                                <mat-icon>clear</mat-icon>
                              </button>
                        </mat-list-item>
                    </mat-list>
                    <h4>Añadir interés</h4>
                    <div
                        class="row"
                        style="align-items: center; padding-left: 10%; "
                    >
                        <mat-form-field appearance="fill">
                            <mat-label>Lista de intereses</mat-label>

                            <mat-select [(value)]="selectedInterest">
                                <mat-option
                                    *ngFor="let knowledgeItem of knowledgeList"
                                    [value]="knowledgeItem"
                                >
                                    {{knowledgeItem.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="boton">
                            <button
                                mat-mini-fab
                                style="background-color: lightskyblue; color: black;"
                                (click)="addInterest(selectedInterest)"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
                <div
                    id="infoDcha"
                    style="text-align: center;"
                >
                    <h2>
                        <u>Mis conocimientos</u>
                    </h2>
                    <mat-list role="list">
                        <mat-list-item
                            *ngFor="let knowledge of miPerfil.knowledges"
                            style="margin-top: -15px; padding-left: 5%;
                            "
                        >
                            <mat-icon mat-list-icon>school</mat-icon>
                            {{knowledge.name}}
                            <button mat-icon-button color="primary" style="color: red;" (click)="deleteKnowledge(knowledge)">
                                <mat-icon>clear</mat-icon>
                              </button>
                        </mat-list-item>
                    </mat-list>
                    <h4>Añadir conocimiento</h4>
                    <div
                        class="row"
                        style="align-items: center; padding-left: 10%; "
                    >
                        <mat-form-field appearance="fill">
                            <mat-label>Lista de conocimientos</mat-label>

                            <mat-select [(value)]="selectedKnowledge">
                                <mat-option
                                    *ngFor="let knowledgeItem of knowledgeList"
                                    [value]="knowledgeItem"
                                >
                                    {{knowledgeItem.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="boton">
                            <button
                                mat-mini-fab
                                style="background-color: lightskyblue; color: black;"
                                (click)="addKnowledge(selectedKnowledge)"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botonCentral">
                <button
                    (click)="editProfile()"
                    mat-raised-button
                    style="background-color: lightgreen;"
                >
                    Guardar cambios
                </button>
            </div>

        </mat-card-content>
    </mat-card>
</div>
