<div id="BoxIzq" class="infoIzq">
    <mat-card style="width:100%;">
      <mat-card-title id="test-pointer-2">Tema seleccionado</mat-card-title>
      <mat-card-content>
  
        <div class="row" style="align-items: center; padding-left: 18%">
            <mat-form-field appearance="fill" style="padding-top: 5%">
              <mat-label>Lista de intereses</mat-label>

              <mat-select id="interest-option" [(value)]="selectedInterest">
                <mat-option *ngFor="let theme of themesList" [value]="theme">
                  {{theme.name}}
                </mat-option>
              </mat-select>

            </mat-form-field>
            
            
          </div>

        <div class="row" style="align-items: center; padding-left: 15%">
            <div class="boton" style="padding: inherit">
              <button mat-flat-button (click)="buscar(selectedInterest)"
                      style="padding: 2% 60%; border-radius: 35px 35px 35px 35px; background-color: lightskyblue; color: black">
                Buscar
              </button>
            </div>
          </div>
              
  
  
      </mat-card-content>
  
    </mat-card>
  </div>
  
  <div id="BoxDcha" class="infoDcha">
    <mat-card style="width:100%;">
      <mat-card-title id="test-pointer">Ranking sobre el tema: {{theme}}</mat-card-title>
      <mat-card-content>
        
          
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usuarios; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ user.username }}
              </td>
              <td>{{ user.rating }}</td>
            </tr>
            </tbody>
          </table>
  
      </mat-card-content>
    </mat-card>
  </div>
  
  