.contenedor{
    height: 49%;
    background-color: #6A737C;
    margin: 1% 1%;
  }

  #infoIzq{
    padding: 10px;
    float: left;
    width: 45%;
    text-align: justify;
}
#infoDcha{
    padding: 10px;
    float: left;
    width: 45%;
    text-align: justify;
}
#cuadro{
    border: ridge black 1px;
    padding: 10px;
}