<p>principal works!</p>

<div id="infoDcha">
    <h2>Matches con otros usuarios</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus


    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div>
<div id="infoIzq">
    <h2>Información propia de mi perfil</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus

    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div>
