
<!--
    <div id="infoDcha">
    <h2>Matches con otros usuarios</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus


    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div>
<div id="infoIzq">
    <h2>Información propia de mi perfil</h2>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus

    </p>
    <p id="cuadro">Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque, convallis eget litora nascetur odio vivamus phasellus volutpat, rhoncus nisl aliquet molestie lacinia vulputate magna. Elementum donec neque netus etiam euismod facilisis, faucibus pellentesque vitae pharetra mollis odio gravida, vel class sodales tincidunt aenean. Ornare elementum erat at sociosqu ultricies nascetur turpis tincidunt lobortis, vehicula volutpat vulputate odio cursus dui blandit augue sociis nec, feugiat egestas habitasse natoque rhoncus molestie donec ridiculus</p>


</div>
-->

    <div id="infoIzq">
        <mat-card style="width:100%;">
            <mat-card-title>Usuarios Complementarios</mat-card-title>
            <mat-card-content>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <img src="assets/img/perfil.jpg" id="imagenTarjeta">
                        <div id="infoTarjeta">
                            <div id="tituloCard">
                                <b>Usuario</b>
                            </div>
                            <div id="ContenidoCard">
                                Interés en 
                                <a href="#" class="alert-link">TEMA 1</a>
                            </div>
                            <div id="ContenidoCard">
                                Conocimiento en 
                                <a href="#" class="alert-link">TEMA 2</a>
                            </div>
                        </div>
                      
                      
                      <mat-card-actions style="margin: 0px;">
                        <button mat-raised-button color="accent">CHAT</button>
                    </mat-card-actions>
                    </li>
                    
                  </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent">Paginación?</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div id="infoDcha">
        <mat-card style="width:100%;">
            <mat-card-title>Mi Perfil</mat-card-title>
            <mat-card-content>
                
                <div layout="row" class="row-full-width">
                    <mat-label></mat-label>
                </div>
                <div layout="row" class="row-full-width">
                    
                        
                   
                </div>
        
                <div style="display: flex; flex-direction: row; flex:1;">
                        
                </div>
                <!-- {{state | json}}
                <p><b>{{request | json}}</b></p> -->
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent">TRY</button>
                
            </mat-card-actions>
        </mat-card>
    </div>
    



