<!-- <div class="row" style="margin: auto">
    <h1 style="text-align: center; margin: auto;" mat-dialog-title>
      Confirmar lección de TEMA
    </h1>
  </div>
  <br>
  <div class="row" style="text-align: center">
    <div class="col">
      <div>
        <p>¿Se ha impartido la lección de USERNAME del día DD/MM/AAAA?</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div mat-dialog-actions style="height: 20%">
        <div class="col" style="text-align: center">
          <button mat-raised-button
                  style="background-color: mediumaquamarine; color: white"
                  (click)="onConfirmClick()">
            Sí
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div mat-dialog-actions style="height: 20%">
        <div class="col" style="text-align: center">
          <button mat-raised-button
                  style="background-color: mediumaquamarine; color: white"
                  (click)="onNegateClick()">
            No
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div mat-dialog-actions style="height: 20%">
        <div class="col" style="text-align: center">
          <button mat-raised-button
                  style="background-color: salmon; color: white"
                  (click)="onCancelClick()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
-->


