.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
}

.full {
    color: rgb(18, 143, 202);
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: rgb(18, 143, 202);
}

#info-cont{
    padding: 40px;
}

#info{
    height: inherit;
    width: inherit;
    padding: 20px;
    border: solid 3px rgb(18,143,202);
}

#knowledge-row{
    margin: 20px -15px;
}

#chat-button-col{
    justify-content: right;
    display: inline-flex;
}
    

#opinion-heading{
    margin: 0px 25% 30px;
}

#rating-val{
    margin: 0px 55% 30px;
}

#bold-rate{
    font-size: 200%;
}

#rating-stars{
    margin: 0px 25% 30px;
}