
<div class="container" id="info-cont">
    <div class="row">
        <div class="col" id="main-info-col">
            <h1 id="username-heading">{{ userProfile.username }}</h1>
            <div class="row" id="info-row">
                <div class="col" id="info-col">
                    <div id="info">
                        <div class="row" id="basic-info-row">
                            <div class="col-xl-3 offset-xl-1 d-xl-flex justify-content-xl-center" id="img-col"><img id="profile-pic" src="../../../../favicon.ico"></div>
                            <div class="col" id="name-col">
                                <h4 id="name-heading">{{ userProfile.name }} {{ userProfile.surname }}</h4>
                            </div>
                        </div>
                        <div class="row" id="knowledge-row">
                            <div class="col d-xl-flex justify-content-xl-center" id="interested-in-col">
                                <div>
                                    <h3><u>Intereses</u></h3>
                                    <ul>
                                        <li *ngFor="let interest of userProfile.interests">{{ interest.name }} </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col d-xl-flex justify-content-xl-center" id="knwoledge-on-col">
                                <div>
                                    <h3><u>Áreas de conocimiento</u></h3>
                                    <ul>
                                        <li *ngFor="let knowledge of userProfile.knowledges">{{ knowledge.name }} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="authenticated" class="row" id="chat-button-row">
                            <div class="col" id="chat-button-col">
                                <button class="btn btn-primary" (click)="newChat()">CHAT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col d-xl-flex justify-content-xl-center" id="opinion-col">
            <div class="row">
                <div class="col" *ngIf="avgByTheme; then thenBlock else elseBlock">
                </div>
                <ng-template #thenBlock>
                    
                    <h1 id="opinion-heading">Valoraciones</h1>

                    <div *ngFor="let item of avgByTheme | keyvalue" id="rating-stars">
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#9733;</span>
                                &#9733;
                            </span>
                        </ng-template>
                        <h2>{{ item.key }}</h2>
                        <ngb-rating [(rate)]="item.value" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                        <span id="rating-val"><b id="bold-rate">{{ item.value }}</b>/5</span>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <h1>Sin valoraciones</h1>
                </ng-template>
            </div>
        </div>
    </div>
</div>
